<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a group</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen w-full bg-[#D8CDB1] flex flex-col gap-4 justify-center items-center">
    <div class="w-[40%] bg-red-400 rounded-lg p-4 shadow-xl border-2 border-black">
        <div class="text-center text-2xl font-bold"><span class="text-3xl">Bienvenido a ReadoLogic</span><br><span class="text-sky-600">Alumno</span> <span th:text="${alumnName}"></span></div>
        <div class="text-center text-xl mb-2">Debes unirte a un grupo para continuar</div>
        <div class="flex flex-col justify-center items-center bg-[#D8CDB1] rounded-lg pb-2">
            <a th:each="g, iterStart : ${grupos}" th:with="counter=${iterStart.index + 1}" href="#" th:href="@{'/alumn/get/' + ${counter}}"  class="bg-red-400 rounded-lg w-[90%] flex justify-between px-4 cursor-pointer hover:scale-[1.02] hover:bg-red-500 duration-200 active:scale-[0.98] mt-2 font-semibold">
                <p th:text="${g.get(0)}">Los Mejores</p>
                <p>Profesor: <span th:text="${g.get(2)}"></span></p>
            </a>
        </div>
    </div>
    <a th:href="@{/logout}" href="#" class="w-[10%] h-[35px] bg-red-500 border-2 border-black flex items-center justify-center rounded-xl text-xl hover:scale-[1.02] active:scale-[0.98] duration-200 ease-in-out">Salir</a>
</body>
</html>