<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex flex-col items-center justify-center bg-[#D8CDB1]">
    <div class="h-[100%] w-[50%] flex flex-col justify-center items-end gap-2">
        <!-- Switcher -->
        <div class="flex w-[100%] justify-between items-center">
            <a th:href="@{/}" class="flex items-center text-lg text-red-500 bg-black rounded-lg px-2 cursor-pointer">
                <ion-icon name="chevron-back-outline" class="w-[20px] h-[20px]"></ion-icon>
                <p>INICIO</p>
            </a>
            <div class="w-[40%] rounded-full border-2 h-[10%] border-black flex items-center p-1 relative" >
                <div class="w-[100%] h-[90%] flex justify-around border-2 border-black rounded-full z-10">
                    <input type="radio" name="switcher-log" id="alumn" value="alumn" class="sr-only" checked>
                    <label for="alumn" class="w-[50%] h-full cursor-pointer text-center p-1 text-white alumnBtn">Alumno</label>
                    <input type="radio" name="switcher-log" id="teacher" value="teacher" class="sr-only">
                    <label for="teacher" class="w-[50%] h-full cursor-pointer text-center p-1 text-white teacherBtn">Profesor</label>
                </div>
                <div class="absolute w-[48.5%] h-[80%] bg-black rounded-full z-0 switcher translate-x-[0%] duration-200 transition-all ease-in-out"></div>
            </div>
        </div>
        <!-- content data -->
        <div class="relative flex w-full rounded-2xl shadow-2xl bg-black h-[400px] items-center justify-center gap-2 overflow-hidden">
            <!-- Alumno -->
            <div class="absolute w-[100%] h-[100%] bg-transparent gap-2 flex flex-row-reverse items-center justify-center">
                <!-- Imagen -->
                <div class="w-[48%] h-[100%] flex items-center justify-center imgAlumn duration-200 transition-all ease-in-out">
                    <img src="https://img.freepik.com/fotos-premium/lofi-aesthetics-illustration-pastel-color_950633-41.jpg" alt="" class="w-[90%] h-[90%] object-cover rounded-xl">
                </div>
                <!-- Content -->
                <form method="post" action="/add-alumn" th:action="@{/add-alumn}" th:object="${alumn}" class="w-[48%] h-[100%] flex flex-col items-center justify-center gap-3 cardAlumn duration-200 transition-all ease-in-out z-10">
                    <h1 class="text-center font-bold text-lg text-white">REGISTRARSE</h1>
                    <div class="flex flex-col gap-1 w-[75%]">
                        <div class="flex flex-col">
                            <label for="" class="indent-2 text-white">Usuario</label>
                            <input th:field="${alumn.username}" required name="userAlumn" type="text" class="inputAlumn text-white border-2 rounded-lg border-white bg-transparent indent-2 focus:outline-none">
                        </div>
                        <div class="flex flex-col">
                            <label for="" class="indent-2 text-white">Nombres</label>
                            <input th:field="${alumn.firstName}" required name="nameAlumn" type="text" class="inputAlumn text-white border-2 rounded-lg border-white bg-transparent indent-2 focus:outline-none">
                        </div>
                        <div class="flex flex-col">
                            <label for="" class="indent-2 text-white">Apellidos</label>
                            <input th:field="${alumn.lastName}" required name="lastNameAlumn" type="text" class="inputAlumn text-white border-2 rounded-lg border-white bg-transparent indent-2 focus:outline-none">
                        </div>
                        <div class="flex flex-col">
                            <label for="" class="indent-2 text-white">Contraseña</label>
                            <input th:field="${alumn.password}" required name="passAlumn" type="password" class="inputAlumn text-white border-2 rounded-lg border-white bg-transparent indent-2 focus:outline-none">
                        </div>
                    </div>
                    <div class="w-[100%] flex items-center justify-center">
                        <button type="submit" class="w[40%] text-center font-semibold bg-red-500 rounded-full px-3 py-1">Registrarse</button>
                    </div>
                </form>
            </div>
            <!-- Profesor -->
            <div class="absolute w-[100%] h-[100%] bg-transparent flex items-center justify-center">
                <!-- Image -->
                <div class="w-[48%] h-[100%] flex items-center justify-center translate-x-[-110%] imgTeacher duration-200 transition-all ease-in-out">
                    <img src="https://img.freepik.com/fotos-premium/lofi-aesthetics-illustration-pastel-color_950633-41.jpg" alt="" class="w-[90%] h-[90%] object-cover rounded-xl">
                </div>
                <!-- Content -->
                <form method="post" action="add-teacher" th:action="@{/add-teacher}" th:object="${teacher}" class="w-[48%] h-[100%] flex flex-col items-center justify-center gap-3 cardTeacher translate-x-[110%] duration-200 transition-all ease-in-out">
                    <h1 class="text-center font-bold text-lg text-white">REGISTRARSE</h1>
                    <div class="flex flex-col gap-1 w-[75%]">
                        <div class="flex flex-col">
                            <label for="" class="indent-2 text-white">Usuario</label>
                            <input th:field="${teacher.username}" type="text" class="inputTeacher text-white border-2 rounded-lg border-white bg-transparent indent-2 focus:outline-none">
                        </div>
                        <div class="flex flex-col">
                            <label for="" class="indent-2 text-white">Nombres</label>
                            <input th:field="${teacher.firstName}" type="text" class="inputTeacher text-white border-2 rounded-lg border-white bg-transparent indent-2 focus:outline-none">
                        </div>
                        <div class="flex flex-col">
                            <label for="" class="indent-2 text-white">Apellidos</label>
                            <input th:field="${teacher.lastName}" type="text" class="inputTeacher text-white border-2 rounded-lg border-white bg-transparent indent-2 focus:outline-none">
                        </div>
                        <div class="flex flex-col">
                            <label for="" class="indent-2 text-white">Profesión</label>
                            <input th:field="${teacher.profession}" type="text" class="inputTeacher text-white border-2 rounded-lg border-white bg-transparent indent-2 focus:outline-none">
                        </div>
                        <div class="flex flex-col">
                            <label for="" class="indent-2 text-white">Contraseña</label>
                            <input th:field="${teacher.password}" type="password" class="inputTeacher text-white border-2 rounded-lg border-white bg-transparent indent-2 focus:outline-none">
                        </div>
                    </div>
                    <div class="w-[100%] flex items-center justify-center">
                        <button class="w[40%] text-center font-semibold bg-red-500 rounded-full px-3 py-1">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script th:src="@{js/switcher.js}" src="../static/js/switcher.js"></script>
</body> 
</html>