<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Usuario</title>
  <link rel="icon" th:href="@{/img/mapache-con-audifonos.svg}" href="../static/img/mapache-con-audifonos.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/4fb2d199eb.js" crossorigin="anonymous"></script>
</head>

<body class="bg-[#8895C0] flex p-8 gap-8">
  <!-- card user -->
  <div
    class="w-1/5 flex flex-col items-center justify-between bg-[#D8CDB1] min-h-[91.5%] p-4 rounded-3xl mb-8 gap-0 fixed left-[10%] border-black border-2">

    <div>
      <!-- img -->
      <div class="w-full h-[20%] flex flex-col items-center justify-center p-2 gap-1">
        <img src="../static/img/mapache-con-audifonos.svg" alt="teacher-perfil"
          th:src="@{/img/mapache-con-audifonos.svg}" class="object-cover rounded-full" />
        <h1 class="font-semibold">Profesor: <span th:text="${teacherName}"></span></h1>
      </div>
      <!-- menu -->
      <div class="w-[95%] h-[70%] flex flex-col justify-between gap-2">
        <ul class="flex flex-col gap-1">
          <div class="flex items-center justify-center hover:bg-[#5b6895] hover:rounded-lg pl-4">
            <ion-icon name="person-outline" class="w-[25px] h-[25px]"></ion-icon>
            <a th:href="@{/teach/profile}" class="font-bold w-full h-auto border-black p-2">Perfil</a>
          </div>
          <div class="flex items-center justify-center hover:bg-[#5b6895] hover:rounded-lg pl-4">
            <ion-icon name="people-outline" class="w-[25px] h-[25px]"></ion-icon>
            <a th:href="@{/teach/group}" class="font-bold w-full h-auto border-black p-2">Alumnos</a>
          </div>
          <div class="flex items-center justify-center hover:bg-[#5b6895] hover:rounded-lg pl-4">
            <ion-icon name="document-text-outline" class="w-[25px] h-[25px]"></ion-icon>
            <a href="create-group.html" th:href="@{/teach/toAddExercise}"
              class="font-bold w-full h-auto border-black p-2">Crear Texto</a>
          </div>
          <div
            class="flex items-center justify-center hover:bg-[#5b6895] hover:rounded-lg pl-4"
          >
            <ion-icon
              name="stats-chart-outline"
              class="w-[25px] h-[25px]"
            ></ion-icon>
            <a href="" class="font-bold w-full h-auto border-black p-2"
              >Estadísticas</a
            >
          </div>
        </ul>

      </div>
    </div>

    <div class="w-[100%] flex flex-col justify-between">
      <div class="flex items-center justify-center hover:bg-[#5b6895] hover:rounded-lg pl-4">
        <ion-icon name="exit-outline" class="w-[25px] h-[25px]"></ion-icon>
        <a th:href="@{/logout}" href="#" class="font-bold w-full h-auto border-black p-2">Salir</a>
      </div>
    </div>
  </div>
  <!-- right bar -->
  <div class="absolute right-[10%] w-[58%] h-[92%] flex flex-col gap-4">
    <!-- text-content -->
    <div
      class="w-[100%] bg-[#D8CDB1] border-2 text-black text-sm border-black p-8 rounded-3xl flex flex-col gap-4 h-[100%]">
      <!-- Title -->
      <h1 class="font-bold text-center text-xl">ALUMNOS EN EL GRUPO</h1>

      <div class="w-full flex flex-row items-center justify-center gap-2">
        <p class="w-[35%] py-[2px] text-xl rounded font-bold bg-sky-600 indent-3">Nombre</p>
        <p class="w-[20%] py-[2px] text-xl rounded font-bold bg-orange-700 text-center">Textos Leidos</p>
        <p class="w-[20%] py-[2px] text-xl rounded font-bold bg-orange-700 pr-3 text-end">Nota</p>
      </div>


      <div th:if="${students != null && students.size() > 0}" th:each="student : ${students}" class="flex gap-2 justify-center items-center">
        <p class="w-[35%] py-[2px] text-xl rounded font-bold bg-sky-500 indent-3" th:text="${student.fullName()}"></p>
        <p class="w-[20%] py-[2px] text-xl rounded font-bold bg-orange-600 text-center" th:text="${student.getSolutions().size()}"></p>
        <p class="w-[20%] py-[2px] text-xl rounded font-bold bg-orange-600 pr-3 text-end" th:text="${student.getNota()}"></p>
      </div>

      <div th:if="${students == null || students.size() == 0}">

        <p class="text-center font-semibold text-lg">No se encuentran alumnos en el grupo.</p>
      </div>
    </div>




  </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>