
.text-content{
    width: auto;
    height: auto;
    border: 1px solid red;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h3{
    text-indent: 5px;
    font-size: 1em;
}

h4{
    font-size: 1em;
}

h5{
    font-size: 1em;
}

.title-question{
    text-indent: 5px;
}