body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    width: 60%;
    border: 3px;
    border-color: black;
    border-style: solid;
}

h4{
    width: 50%;
    border: 2px;
    border-radius: 10px;
    border-color: bisque;
    border-style: solid;
}

h3{
    width: 40%;
    border: 2px;
    border-radius: 10px;
    border-color: chocolate;
    border-style: dashed;
}