*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 64%);
}

.container{
    height: 100vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav{
    margin-top: 20px;
    height: 90px;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(255, 250, 250, 0.3);
}

.content-box{
    width: 75vw;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
}

.user{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid orange;
    padding-top: 10px;
}

.user-info{
    width: 270px;
    height: 290px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-info>img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.user-nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-nav>a{
    text-decoration: none;
    text-indent: 10px;
    width: 250px;
    height: 35px;
    display: flex;
    align-items: center;
    border: 1px solid green;
    border-radius: 10px;
    color: inherit;
}

.search-text{
    width: auto;
    height: auto;
    border: 1px solid red;
    border-radius: 10px;
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.container-search{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.busqueda{
    width: 95%;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    background: none;
    font-size: 1em;
    text-indent: 5px;
}

.button-search{
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    object-fit: contain;
    cursor: pointer;
}

.busqueda:focus{
    outline: none;
}

i{
    transform: scale(1.7);
}